body {
  background-color: #4527a0 !important;
}
html,
body,
header,
.view {
  height: 90vh;
}
.page-footer {
  height: 10vh;
}
.page-footer-userp {
  height: 5vh;
  color: #fff;
}
.btn {
  border-radius: 20px;
}
.form-control {
  color: #fff !important;
}
.md-form {
  color: #fff;
}
::placeholder {
  color: #fff !important;
}
*/*.nav-link {
  display: block;
  position: relative;
}
.nav-link:hover {
  display: block;
  position: relative;
  border-bottom: 1px solid #FFF;
}*/
.col {
  color: #FFF;
}
.footer {
  background-color: #4527a0 !important;
}
.navbar {
  background-color: #4527a0 !important;
}
.card {
  background-color: #4527a0 !important;
  border: 1px solid #fff;
  color: #fff;
  font-weight: bold;
}
.card:hover {
  background-color: #fff !important;
  border: 1px solid #4527a0 !important;
  color: #4527a0 !important;
  font-weight: bold
}
.center {
  text-align: center;

} 
/* .wow {
  visibility: hidden;
} */